* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

#img-perfil {
  height: 250px;
  width: 200px;
  display: block;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
}
.card_1 {
  background-color: #5d599c;
  position: absolute;
  width: 15%;
  height: 100%;
  margin-left: 200px;
  border-radius: 3px;
}

.card_1 h1 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.card_1 p {
  text-align: justify;
  font-size: 16px;
  padding: 10px;
  color: white;
}

#profissionais {
  font-size: 12px;
}

#ID_médicos h1 {
  text-align: justify;
  font-size: 20px;
  padding: 10px;
}

#ID_médicos p {
  text-align: justify;
  font-size: 16px;
  padding: 10px;
}

#logo {
  height: 200px;
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
nav {
  width: 200px;
  height: 100%;
  background-color: #218c74;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border-top: 1px solid #ccc;
}

a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

a:hover {
  background-color: #26de81;
  transition: 0.5s;
}

div {
  display: flexbox;
  vertical-align: top;
}

#profissionais {
  margin-left: 800px;
  position: fixed;
  padding-top: 5px;
  height: 5%;
  top: 0;
  text-align: center;
}

.card {
  margin-left: 450px;
  display: inline-block;
  background-color: #19915590;
  width: 40%;
  color: white;
  border-radius: 5px;
  padding-right: 100px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#conteudo {
  height: 100%;
  margin-left: 200px;
  padding: 16px;
  background-color: #ffffff;
}

.btn-add {
  background-color: #26de81;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  left: 35%;
  top: 25%;
  transform: translate(-50%, 50%);
}

.btn-add:hover {
  background-color: #218c74;
  transition: 0.5s;
}
